<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('My Profile')">
    <meta charset="UTF-8">
    <title>My Profile</title>

</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>

<main sec:authorize="isAuthenticated()">
    <div class="container row">
        <div class="col-md-3">
            <img id="profile__image" th:src="${user.photo_url}" onerror="this.src='/images/profile.png'" />
    <!--        <img th:if="${user.photo_url != ''}"  th:src="${user.photo_url}" alt="profile image">-->
    <!--        <img th:if="${user.photo_url == ''}" th:src="/images/profile.png" alt="profile placeholder">-->

        </div>
        <div class="col-md-9" >
            <h6>Profile Information</h6>
    <!--        <p>User: <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></p>-->
            <p>User ID: <span th:text="${user.id}"/></p>
            <p>Username: <span th:text="${user.username}"/></p>
            <p>Email: <span th:text="${user.email}"/></p>

            <button><a th:href="@{'/user/' + ${#authentication.principal.id} + '/edit'}">Update Profile</a></button>
        </div>
    </div>
    <div class="container p-2">
        <div class="ml-1">
            <h5>Routes posted</h5>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Id</th>
                        <th>Distance</th>
                        <th>Time</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="route : ${routes}">
                        <td th:text="${route.title}" name="title"></td>
                        <td th:text="${route.id}" name="id"></td>
                        <td th:text="${route.distance}" name="distance"></td>
                        <td th:text="${route.time}" name="time"></td>
                        <td th:text="${route.description}" name="description"></td>
                        <td><a href="/route/{id}" class="btn btn-sm">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="p-2">
            <h5>POI's posted</h5>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Id</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="poi : ${pois}">
                        <td th:text="${poi.name}" name="name"></td>
                        <td th:text="${poi.id}" name="id"></td>
                        <td th:text="${poi.lat}" name="lat"></td>
                        <td th:text="${poi.lon}" name="lon"></td>
                        <td th:text="${poi.description}" name="description"></td>
                        <td><a href="/poi/{id}" class="btn btn-sm">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="p-2">
            <h5>Events posted</h5>
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Edit</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.name}" name="name"></td>
                    <td th:text="${event.id}" name="id"></td>
                    <td th:text="${event.date}" name="date"></td>
                    <td th:text="${event.description}" name="description"></td>
                    <td><a href="/event/{id}" class="btn btn-sm">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>


<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
</body>
</html>