<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Sidecar')">
    <meta charset="UTF-8">
    <title>Index</title>

</head>
<body>
    <nav th:replace="partials/navbar :: nav"></nav>

    <main class="row w-100">
        <div class="col-md-3" sec:authorize="isAuthenticated()">
            <h5>Left column</h5>
        </div>
        <div class="col-md-9">
            <h4>Sidecar Landing Page</h4>
            <div id="floating-panel">
                <input id="address" type="textbox" placeholder="Enter a location" />
                <input id="submit" type="button" value="View Location" />
            </div>
            <div id="map"></div>
        </div>
    </main>
    <script src="src/main/resources/templates/js/indexMap.js"></script>
    <div th:include="partials/footer :: footer"></div>
    <div th:include="partials/scripts :: scripts"></div>
</body>
</html>